
@font-face {
    font-family: Inter;
    src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}
body{


    display: flex;
    flex-direction: column;
    width: 1440px;
    padding: 174px 0px 175px 0px;
    justify-content: center;
    align-items: center;
    background: var(--Black, #141414);
    
}

.card{
    display: flex;
    width: 360pxpx;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    border-radius: 12px;
    background: var(--Dark-Grey, #1F1F1F);
    
}

.profile-pic{
    width: 88px;
    height: 88px;
    border-radius: 999px;
    background: url('assets/images/avatar-jessica.jpeg'), lightgray 50% ;
    background-size: cover;
    
}

.name{
    color: var(--White, var(--White, #FFF));
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    
}
.place{
    color: var(--Neon-Green, var(--Neon-Green, #C4F82A));
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    
}

.bio{
    color: var(--White, var(--White, #FFF));
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    
}

.button-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px; 
    width: 304px; 
    height: 45px;
    border: none; 
    outline: none; 
    background: var(--Dark-Grey, #333); 
    color: var(--White, #FFF); 
    font-size: 14px; 
    font-weight: 700; 
    border-radius: 8px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    font-family: Inter;
    margin-bottom: 8px;
    text-align: center;
}


.button-container button:hover {
    background: var(--Neon-Green, #C4F82A); 
    color: var(--Grey, var(--Grey, #333));
    
}

.button-container .button-text{
    text-align: center;
    
}


.attribution{
    font-family: Inter;
    font-size: 14px;
    color: var(--White, var(--White, #FFF));
    
}
.attribution .attribution-link{
    color: var(--Neon-Green, var(--Neon-Green, #C4F82A));
    
}



@media screen and (max-width: 600px) {

    body{
        display: flex;
        width: 375px;
        padding: 116px 24px 117px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--Black, #141414);
    }
    .card{
        display: flex;
        width: 327px;
        padding: 24px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        border-radius: 12px;
        background: var(--Dark-Grey, #1F1F1F);
    }
    .profile-pic{
        width: 88px;
        height: 88px;
        border-radius: 999px;
        background: url('assets/images/avatar-jessica.jpeg'), lightgray 50% / cover no-repeat;
        background-size: cover;

    }
    .name{
        align-self: stretch;
        color: var(--White, var(--White, #FFF));
        text-align: center;

        /* Heading */
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 36px */

    }
    .place{
        align-self: stretch;
        color: var(--Neon-Green, var(--Neon-Green, #C4F82A));
        text-align: center;

        /* Body (Bold) */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 21px */

    }

    .bio{
        align-self: stretch;
        color: var(--White, var(--White, #FFF));
        text-align: center;

        /* Body (Regular) */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 21px */
    }

    .button-container button{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px; 
        width: 279px;
        height: 45px;
        border: none; 
        outline: none; 
        background: var(--Dark-Grey, #333); 
        color: var(--White, #FFF); 
        font-size: 14px; 
        font-weight: 700; 
        border-radius: 8px;
        cursor: pointer; 
        transition: background-color 0.3s ease; 
        font-family: Inter;
        margin-bottom: 8px;
        text-align: center;

    }
    .button-container button:hover {
        background: var(--Neon-Green, #C4F82A); 
        color: var(--Grey, var(--Grey, #333));
        
    }

    .button-container .button-text{
        color: var(--White, var(--White, #FFF));
        text-align: center;
        /* Body (Bold) */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 21px */
    }
}
  
